%h2
  %center
    Kalkulator Berat Badan Ideal
    %br
    %strong "Metode BMI"
    %p

.form-group
  = form_for :calc, url: { action: :bmi }, method: :get do |f|
    %label{for: 'tinggi'} Tinggi Badan (cm):
    = number_field_tag :tinggi, params[:tinggi], step: 0.1, required: true, class: 'form-control'
    %br
    
    %label{for: 'berat_badan'} Berat Badan (kg)
    = number_field_tag :berat_badan, params[:berat_badan], step: 0.1, required: true, class: 'form-control'
    %br

    = f.submit 'Hitung', class: 'form-control btn-primary'
  %p
  = render 'result_bmi'
