%h2
  %center
    Kalkulator Berat Badan Ideal
    %br
    %strong "Metode Broca"
%p

.form-group
  = form_for :calc, url: { action: :broca }, method: :get do |f|
    %label{for: 'tinggi'} Tinggi Badan (cm):
    = number_field_tag :tinggi, params[:tinggi], step: 0.1, required: true, class: 'form-control'

    %label{for: 'jk'} Jenis kelamin :
    = select_tag :gender, options_for_select([['Pria', :pria], ['Wanita', :wanita]], params[:gender]), class: 'form-control'
    %br
    = f.submit 'Hitung', class: 'form-control btn-primary'
  %p
  = render 'result_broca'
