%h2
  %center
    Kalkulator Kebutuhan Kalori Harian (AKG)
  %p

.form-group
  = form_for :calc, url: { action: :calorie }, method: :get do |f|
    %label{for: 'jk'} Jenis kelamin
    = select_tag :gender, options_for_select([['Pria', :pria], ['Wanita', :wanita]], params[:gender]), class: 'form-control'
    %br

    %label{for: 'body_weight'} Berat Badan (kg)
    = number_field_tag :body_weight, params[:body_weight], step: 0.1, required: true, class: 'form-control'
    %br

    %label{for: 'body_height'} Tinggi Badan (cm)
    = number_field_tag :body_height, params[:body_height], step: 0.1, required: true, class: 'form-control'
    %br

    %label{for: 'age'} Usia
    = number_field_tag :age, params[:age], required: true, class: 'form-control'
    %br

    %label{for: 'activity_level'} Tingkat Aktivitas
    = select_tag :activity_level, 
      options_for_select([['Jarang sekali - Tidak berolahraga sama sekali atau jarang dalam seminggu', :passive], 
      ['Aktivitas ringan - Berolahraga 1-3 kali seminggu', :light],
      ['Aktivitas sedang - Berolahraga 3-5 kali seminggu', :medium],
      ['Aktivitas berat - Berolahraga 5-6 kali seminggu', :heavy],
      ['Aktivitas sangat berat - Berolahraga sekitar 2 kali dalam sehari, termasuk latihan fisik ekstra berat', :very_heavy],
    ], params[:activity_level]), class: 'form-control'
    %br
    

    = f.submit 'Hitung', class: 'form-control btn-primary'
  %p
  = render 'result_calorie'
